---
const today = new Date();
---

<footer>
	<p>&copy; {today.getFullYear()} 道玄人. 大道至简，玄之又玄。</p>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background: linear-gradient(var(--gray-gradient)) no-repeat;
		color: rgb(var(--gray));
		text-align: center;
	}
	footer p {
		margin: 0;
		letter-spacing: 0.05em;
	}
</style>
